{% extends 'base.html' %}
{% load static %}
{% block title %} MVTEC {% endblock title %}

{% block css %}
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">-->
<!--    <link href="{ static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <!-- Additional CSS Files -->
<!--    <link rel="stylesheet" href="{ static 'blog/assets/css/fontawesome.css' %}">-->
    <link rel="stylesheet" href="{% static 'blog/assets/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/owl.css' %}">
{% endblock css %}

{% block content %}
    <!--  Begini Slide  -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Illustrations -->
            <div class="card shadow mb-12">
<!--                <div class="card-header py-3">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Últimas do Blog</h6>-->
<!--                </div>-->
                <div class="card-body">
<!--                    { block slide %}-->
                       {% include 'blog/slide.html' %}
<!--                    { endblock slide %}-->
                </div>
            </div>
        </div>
    </div>
    <!-- Final Slide   -->
    <div class="row">
        <!-- begin Projeto Clinica -->
        <div class="col-lg-8 mb-4">
            <div class="card shadow mb-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projeto Sistema para Clínica</h6>
                </div>
                <div class="card-body">
                    <p class="mb-0s">
                        Um sistema simples que surgiu a idéia a partir de uma planilha do excel para um clinica de Odonto, mas que atendia outras especialidades também. Nessa planilha seria feito o controle de movimentações de Entrada e Saída do dia-a-dia.
                    </p>
                    <p class="mb-0"><a target="_blank" rel="nofollow" href="https://odontomed.herokuapp.com/">OdontoMed</a>,
                        Se trata de um sistema para lançamento de entradas e saídas onde se pode fazer a gestão de modo simples!
                    </p>
                    <p>
                        Por exemplo da Entrada:
                    </p>
                    <!--  Itens do Sistemas  -->
                    <div class="col-xl-8 col-md-8 mb-4">
                        <a class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-check"></i>
                        </a>
                        <span class="text">Profissional qua atendeu e sua especialidade.</span>
                        <div class="my-2"></div>
                        <a class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-check"></i>
                        </a>
                        <span class="text">Tipo de pagamento, quantidade de parcelas e o valor.</span>
                        <div class="my-2"></div>
                        <a class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-check"></i>
                        </a>
                        <span class="text">Quem foi o paciente atendido.</span>
                        <div class="my-4"></div>
                    <a target="_blank" rel="nofollow" href="https://odontomed.herokuapp.com/">Clique e acesse o Sistema →</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Final Projeto Clinica -->

        <!--  Begin tarefas      -->
        <div class="col-lg-4 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tarefas do Projetos</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Entradas/Saídas <span class="float-right">Completo!</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Logs Alterações <span class="float-right">Completo!</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Cadastros <span class="float-right">75%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Usuários/Perfis <span class="float-right">95%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Gráficos Estatísticos <span class="float-right">50%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--  end tarefas      -->
    </div>
{% endblock content %}
{% block js %}
        <!-- Bootstrap core JavaScript -->
<!--    <script src="{ static 'blog/vendor/jquery/jquery.min.js' %}"></script>-->
<!--    <script src="{ static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
    <!-- Additional Scripts -->
    <script src="{% static 'blog/assets/js/custom.js' %}"></script>
    <script src="{% static 'blog/assets/js/owl.js' %}"></script>
    <script src="{% static 'blog/assets/js/slick.js' %}"></script>
    <script src="{% static 'blog/assets/js/isotope.js' %}"></script>
    <script src="{% static 'blog/assets/js/accordions.js' %}"></script>
    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
{% endblock js %}



