<!-- Banner Starts Here -->
<!--<div class="main-banner header-text">-->
<!--  <div class="container-fluid">-->
    <div class="owl-banner owl-carousel owl-loaded owl-drag">
      {% for item in blog_slide_random %}
        <div class="item">
          {% if item.image %}
            <img src="{{item.image.url}}" alt="">
          {% else %}
            <img src="{{image_default}}" alt="">
          {% endif %}
        <div class="item-content">
          <div class="main-content">
            <div class="meta-category">
              <span>{{item.category}}</span>
            </div>
            <a href="/blog/blog-detail/{{item.id}}/{{item.slug}}"><h4>{{item.title}}</h4></a>
            <ul class="post-info">
              <li><a href="#">{{item.user.last_name}}</a></li>
              <li><a href="#">{{item.updated_at|date:"d/m/Y"}}</a></li>
<!--              <li><a href="#">12 Comments</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      {% endfor item %}
    </div>
<!--  </div>-->
<!--</div>-->
<!-- Banner Ends Here -->