{% extends 'blog/baseblog.html' %}

{% block title %}
        {{ block.super }} Blog
{% endblock title %}


{% block preloader %}
  {% include 'blog/preloader.html' %}
{% endblock preloader %}

{% block header %}
  {% include 'blog/header.html' %}
{% endblock header %}

{% block slide %}
  {% include 'blog/slide.html' %}
{% endblock slide %}

<div class="blog-posts">
  <div class="container">
    <div class="row">
      {% block content %}
        {% include 'blog/content.html' %}
      {% endblock content %}
      {% block aside %} {% include 'blog/aside.html' %} {% endblock aside %}
    </div>
  </div>
</div>

{% block footer %} {% include 'blog/footer.html' %} {% endblock footer %}